div , h1,h2,h3,h4,h5,h6,p{
	font-family: 'Roboto', sans-serif;
}

.topbar{
	padding: 20px;
}

.btn{
	border-style: none;
	min-width: 90px;
	font-weight: 600;
	color:#7d7d7d;
}

.icon_btn{
	float: left;
	padding-right: 4px;
	font-weight: bold;
}

.icon_btn_social{
	padding-right: 10px;
}

.right{
	float:right;
}

.search_icon{
	padding-left: 15px; 
}
.img-responsive {
    display:block;
    margin:auto;
}

.search{
	border-style: none;
	background: transparent;
	font-size: 16px;
}

.header{
	clear: both;
	background-color: white;
	padding: 0px;	
}

.heading{
	font-weight: bold;
	color: #2a7c3c;
}

.header_internal{
	margin-top: -64px;
}

.mt-60{
	margin-top: 34px;
}

.button_header{
	font-weight: bold;
	color: #7d7d7d;
	padding: 33px;
	border-right: 1px solid #ced0d7;
	background-color: white;
}

.inline{
	display: inline-block;
}

.banner{
	margin-top: -64px;
	background-image:  url("images/banner-1.png");
	min-height: 400px;
	background-size: 1400px;

    background-position: top left; 
    background-repeat: no-repeat;

}

.selected_button_header{
	color: orange;
	background-image:  url("icon/active.png");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.banner_inner{
	clear: both;
	position: relative;
}

.banner_text{
	max-width: 300px;
	padding: 20px;
	text-align: justify;
}
.banner-para{
	color: #363736;
}

.vcenter {
    vertical-align: middle;
}

.inner {
  position: absolute;
  top: 150px;
  left: 40px;
}

.center{
  	position: absolute;
	left: 15%;
}

footer{
	padding:20px;
	color: white;
}
.commingSoonBanner{
	margin-top: 0px !important;
	padding-top:10%;
	padding-bottom:10%;
	background-image:  url("images/banner-2.png");
}

.commingSoonHeading{
	padding-left: 20px;
	padding-right:20px;
}

.blue_banner{
	background-color:#4fc6f8;
	color: white;
	min-height: 215px;
	margin-bottom: 20px;
	
}

.blue_banner_top{
	border-bottom: 1px solid #7bd4fa;
	padding: 20px 10px 20px 10px;

}

.fb{
	width: 100%;
}

.hot_heading{
	border-bottom: 1px solid #dde2e4;
	padding: 10px;
	color: #475055;
}

.media-body{
	color: #475055;
}

.img-big{
	background-image: url("images/fashion.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom right;
	min-height: 90%;
}

.current_hot{
	color: #eb6b6b;
}

.hot_img_text{
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: white;
	padding-bottom: 20px;
	padding-right: 20px;
	max-width: 250px;
}

.btn_view_more{
	background-color: transparent;
	border: 1px solid white;
	color: white;
	font-weight:lighter;
	min-width: 120px
}


.carousal_main{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #475055;
}

.card{
	background-color: #e8e8e8;
	margin-bottom: 20px
}
.card_text{
	text-align: center;
}

.card_img{
	width: 100%;
}
.inline-block{
	display: inline-block;
}

.registerNowButton{
	background-color: green;
    color: white;
    border: none;
    padding: 10px;
}
.registerModelForm{
	width:100%;
}